<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
  <h2><a target="_blank" rel="noopener" href="https://teams1.nvent.com/sites/techsol1/IHTS/EngSoft/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2Fsites%2Ftechsol1%2FIHTS%2FEngSoft%2FShared%20Documents%2FTeam%2FKnowledge%20Manager%2FSessionDocs&FolderCTID=0x0120002794E0091A444145AF62FADA6FBF3D54&View=%7B392BC3BB-59AB-49F4-8A83-4AEDBA6BC940%7D">New Joinees Start from here</a></h2>
  </li>
  <li>
      <h2><a target="_blank" rel="noopener" href="https://medium.com/simdevelopers/end-to-end-gherkin-testing-with-cucumber-js-and-protractor-make-your-team-amazing-4f3e2e1a2adc">This is where I Started</a></h2>
      </li>
  <li>
      <h2><a target="_blank" rel="noopener" href="https://cucumber.io/docs/gherkin/reference/">Everything about Gherkin</a></h2>
    </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://cucumber.io/docs/cucumber/">Everything about Cucumber</a></h2>
  </li>
  <li>
      <h2><a target="_blank" rel="noopener" href="https://github.com/donkeycode/angular-protractor-cucumber/wiki">You can dive Deep into Functional Testing</a></h2>
  </li>
  <li>
      <h2><a target="_blank" rel="noopener" href="https://github.com/cucumber/cucumber-js/tree/master/features">Want to contribute for Cucumber Library</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>



<router-outlet></router-outlet>
